<html>
<head>
    <title>Python + React example</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <div id="container" class="container">
        <h1>Python + React example</h1>
        {{ rendered|safe }}
    </div>
</body>
<script>
    window.APP_PROPS = {{ comments|tojson }};
</script>
<script type="text/javascript" src="static/js/bundle.js"></script>
</html>